* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  color: rgb(255, 255, 255);
  font-family: Gotham;
  src: url(../assets/tts/Gotham\ Rounded\ .otf) format(OpenType);
}
/* GLOBAL */
a {
  text-decoration: none;
  font-size: 25px;
  font-family: Gotham;
  color: rgb(255, 255, 255);
}

h3 {
  text-decoration: none;
  font-size: 20px;
  font-family: Gotham;
  color: rgb(255, 255, 255);
}

a:hover {
  color: red;
  transition: all 400ms ease;
}

ul {
  list-style-type: none;
}

.container, .login__container, .card__title, .hero__container, .hero, .footer__container-redes-list, .footer__container-redes, .footer__container-items, .footer__container, .header__container-logo {
  max-width: 1500px;
  margin: auto;
}

.gotham {
  font-family: Gotham;
  font-size: 30px;
}

.a1, .card__title a, .footer__container-items a {
  color: black;
  font-family: Gotham;
  font-size: 25px;
  text-decoration: none;
}
.a1:hover, .card__title a:hover, .footer__container-items a:hover {
  color: rgb(171, 30, 30);
  transition: all 400ms ease;
}

.buttonOne, .register a, .login__container-items a, .card__info a, .hero__container-info a {
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  text-decoration: none;
  margin: auto;
  padding: 10px 40px;
}
.buttonOne:hover, .register a:hover, .login__container-items a:hover, .card__info a:hover, .hero__container-info a:hover {
  transition: all 400ms ease;
  background-color: rgb(171, 30, 30);
  color: white;
}

.header {
  margin-bottom: 10px;
}

.header__container-logo {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 100%;
}
.header__container-logo a {
  display: flex;
  margin: auto;
  justify-content: center;
}
.header__container-logo a img {
  width: 180px;
  margin-top: 10px;
}
.header__container-logo a img:hover {
  transition: all 400ms ease;
  transform: translateY(-5%);
}

@media (min-width: 255px) {
  .form-control.me-2 {
    border-radius: 20px;
  }
  .btn.btn-outline-success {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
  }
  .btn.btn-outline-success:hover {
    color: white;
    border: none;
    background-color: rgb(171, 30, 30);
    transition: all 400ms ease;
  }
}
@media (min-width: 375px) {
  .fa-solid.fa-magnifying-glass {
    display: none;
  }
}
@media (min-width: 1024px) {
  .navbar.navbar-expand-lg.navbar-dark.bg-black {
    max-width: 1500px;
    margin: auto;
  }
  .navbar.navbar-expand-lg.navbar-dark.bg-black a {
    font-size: 20px;
  }
  .d-flex button {
    border-radius: 20px;
  }
  .d-flex input {
    border-radius: 20px;
  }
  .btn.btn-outline-success {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }
  .btn.btn-outline-success:hover {
    color: white;
    border: none;
    background-color: rgb(171, 30, 30);
    transition: all 400ms ease;
  }
}
.footer {
  background-color: rgb(255, 255, 255);
}
.footer__container {
  display: flex;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}
.footer__container-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.footer__container-redes {
  display: grid;
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding: 10px 10px;
  justify-content: center;
}
.footer__container-redes-list {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.footer__container-redes-list .whatsapp {
  color: white;
}
.footer__container-redes-list .whatsapp:hover {
  color: #00cf1f;
}
.footer__container-redes-list .instagram {
  color: white;
}
.footer__container-redes-list .instagram:hover {
  color: #ac008f;
}
.footer__container-redes-list .facebook {
  color: white;
}
.footer__container-redes-list .facebook:hover {
  color: #0d57d6;
}
.footer__container-redes-list .linkedin {
  color: white;
}
.footer__container-redes-list .linkedin:hover {
  color: #001c71;
}
.footer__container-redes-list .github {
  color: white;
}
.footer__container-redes-list .github:hover {
  color: #920000;
}

@media (min-width: 375px) {
  .footer__container-items {
    text-align: start;
    margin: 10px;
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .footer__container {
    display: grid;
  }
  .footer__container-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
  }
  .footer__container-redes {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;
  }
  .footer__container-redes-list {
    justify-content: center;
  }
}
.main {
  background-color: rgb(255, 255, 255);
  font-family: Gotham;
}

.hero {
  background-color: rgb(255, 255, 255);
}
.hero__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 10px;
}
.hero__container-video {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.hero__container-info {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  text-align: center;
}
.hero__container-info h2 {
  font-size: 20px;
}

.card__container {
  display: grid;
  max-width: 1500px;
  width: 100%;
  gap: 20px;
}

.card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.card {
  display: grid;
  margin: auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  text-align: center;
  transition: all 400ms ease;
}
.card:hover {
  box-shadow: 0px 3px 10px rgba(1, 10, 20, 0.5);
  transform: translateY(-3%);
}
.card img {
  border-radius: 15px;
  width: 100%;
}
.card__info {
  display: grid;
  gap: 10px;
  padding-top: 20px;
}
.card__info h3 {
  color: black;
}

@media (min-width: 375px) {
  .hero__container {
    gap: 10px;
  }
  .hero__container-info {
    gap: 5px;
  }
  .card__container {
    padding: 0 10px;
  }
  .card__container-info a {
    text-decoration: none;
  }
}
@media (min-width: 550px) {
  .hero__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .card__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  .hero__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .hero__container-video {
    width: 100%;
  }
  .card__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
  }
}
.login__container {
  background-color: rgb(255, 255, 255);
}
.login__container-items {
  display: grid;
  max-width: 550px;
  margin: 20px auto;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.login__container-items h2 {
  color: rgb(159, 159, 159);
}
.login__container-items input {
  width: 100%;
  height: 70px;
  margin: auto;
  border-radius: 15px;
  border: grey solid 3px;
}
.login__container-items input::placeholder {
  padding-left: 15px;
  font-size: 25px;
}

.register {
  display: grid;
  margin: 20px auto;
  max-width: 1500px;
}
.register__container {
  display: grid;
  max-width: 550px;
  margin: auto;
  gap: 20px;
  padding: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.register__container h1 {
  margin: 0 auto;
}
.register__container-names {
  display: flex;
  max-width: 550px;
  justify-content: space-between;
}
.register__container-names input {
  width: 49%;
  height: 50px;
  border-radius: 15px;
  border: grey solid 3px;
}
.register__container-names input::placeholder {
  padding-left: 15px;
  font-size: 20px;
}
.register__container-email {
  display: grid;
  max-width: 550px;
  gap: 10px;
}
.register__container-email p {
  margin: 0;
}
.register__container-email input {
  width: 100%;
  height: 50px;
  margin: auto;
  border-radius: 15px;
  border: grey solid 3px;
}
.register__container-email input::placeholder {
  padding-left: 15px;
  font-size: 20px;
}
.register__container-requests {
  display: grid;
  gap: 10px;
  padding-bottom: 20px;
}
