.footer {
    background-color: rgb(255, 255, 255);

    &__container {
        display: flex;
        @extend .container;
        margin-top: 30px;
        background-color: rgb(255, 255, 255);
        width: 100%;

        &-items {
            @extend .container;
            @include templateGrid(1);
            // display: grid;
            // text-align: center;
            // gap: 20px;

            a {
                @extend .a1;
            }
        }
        
        &-redes {
            display: grid;
            @extend .container;
            background-color: rgb(0, 0, 0);
            width: 100%;
            padding: 10px 10px;
            justify-content: center;

            &-list {
                display: flex;
                @extend .container;
                justify-content: space-between;
                gap: 50px;

                $socialIcons: (
                    whatsapp: #00cf1f,
                    instagram: #ac008f,
                    facebook: #0d57d6,
                    linkedin: #001c71,
                    github: #920000
                );

                
                @each $socialName, $socialColors in $socialIcons {
                    .#{$socialName} {
                        color: white;

                        &:hover {
                            color: $socialColors;
                        }
    
                    }


                }
            }
        }
    }
}



@media (min-width: $bpMediumSmall) { 
    
    .footer__container-items {
        text-align: start;
        margin: 10px;
        padding: 0;
    }
}

@media (min-width: $bpLarge) {
    .footer__container {
        display: grid;

        &-items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: auto;
        }

        &-redes {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            margin: auto; 

            &-list {
                justify-content: center;
            }
        }
    }
}
