.footer {
    background-color: rgb(255, 255, 255);

    &__container {
        display: flex;
        @extend .container;
        background-color: rgb(255, 255, 255);
        width: 100%;

        &-items {
            display: grid;
            @extend .container;
            text-align: center;
            gap: 20px;

            a {
                font-size: 20px;
                text-decoration: none;
                color: black;
            }
        }
        
        &-redes {
            display: grid;
            @extend .container;
            background-color: rgb(0, 0, 0);
            width: 100%;
            padding: 10px 10px;
            justify-content: center;

            &-list {
                display: flex;
                @extend .container;
                justify-content: space-between;
                gap: 50px;
            }
        }
    }
}


@media (min-width: $bpMediumSmall) { 
    
    .footer__container-items {
        text-align: start;
        margin: 10px;
        padding: 0;
    }
}

@media (min-width: $bpLarge) {
    .footer__container {
        display: grid;

        &-items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: auto;
        }

        &-redes {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            margin: auto; 

            &-list {
                justify-content: center;
            }
        }
    }
}
