* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    color: rgb(255, 255, 255);
    font-family: Gotham;
    src: url(../assets/tts/Gotham\ Rounded\ .otf) format(OpenType);
}
/* GLOBAL */
a {
    text-decoration: none;
    font-size: 25px;
    font-family: Gotham;
    color: rgb(255, 255, 255);
}

h3 {
    text-decoration: none;
    font-size: 20px;
    font-family: Gotham;
    color: rgb(255, 255, 255);
}

a:hover {
    color: red;
    transition: all 400ms ease;
}

ul {
    list-style-type: none;
}


// BREAKPOINTS
$bpSmall: (255px);
$bpMediumSmall: (375px);
$bpMedium: (550px);
$bpLarge: (992px); 



// EXTENDS


// CONTENEDORES
.container {
    max-width: 1500px;
    margin: auto;
}

// FUENTES
.gotham {
    font-family: Gotham;
    font-size: 30px;
}


// A´s

.a1 {
    color: black;
    font-family: Gotham;
    font-size: 25px;
    text-decoration: none;

    &:hover {
        color: rgb(171, 30, 30);
        transition: all 400ms ease;
    }
}
// BOTONES
.buttonOne {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    text-decoration: none;
    margin: auto;
    padding: 10px 40px;

    &:hover {
        transition: all 400ms ease;
        background-color: rgb(171, 30, 30);
        color: white;
    }
}

// MIXINS

@mixin templateGrid($column) {
    display: grid;
    grid-template-columns: repeat($column, 1fr);
    gap: 20px;
}

